.header {
}

.menu {
    overflow: 'auto';
    height: '100vh';
    position: 'fixed';
    left: 0;
    text-align: center;
    text-transform: uppercase;

}

.menu-item {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}