.header {
    padding: 0;
}

.menu {
    overflow: 'auto';
    height: '100vh';
    position: 'fixed';
    left: 0;
    text-align: center;
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #16222a, #3a6073); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #16222a, #3a6073) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}

.menu-item {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
            .ant-menu-item-selected span {
                border-bottom : 1px solid white !important;
            }

}


.ant-menu-item.ant-menu-item-only-child.ant-menu-item-selected {
    span {
        border-bottom : 1px solid white !important;
    }

}